*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  height: 100vh;
  background-color: brown;
  font-family: sans-serif;
}
.score{
color: wheat;
height: 20vh;
display: flex;
justify-content: space-around;
align-items: center;
}
.score h2{
  font-size: 30px;
}
.score p{
  text-align: center;
  padding: 10px;
}
.intro{
  color: wheat;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.intro button,.option button{
  width: 150px;
  height: 50px;
  background: none;
  color: wheat;
  font-size: 24px;
  border: none;
  background: orangered;
  border-radius: 3px;
}
.match{
  position: absolute;
  color: rgb(214, 200, 200);
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.winner{
  color: aqua;
  text-align: center;
  font-size: 40px;
}
.hands , .option{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hands img {
animation: slide 0.5s ease-in-out ;
}
@keyframes slide{
24%{
  opacity: 0;
  height: 40px;
  
}
30%{
  opacity: 0.5;
  height: 60px;
}
40%{
opacity: 1;
height: 80px;

}
55%{
  opacity: 1.4;
  height: 100px;

}
70%{
  opacity: 2;
  height: 120px;

}
88%{
  opacity: 2.5;
  height: 140px;

}
100%{
  opacity: 3;
  height: 145px;
}
}
.playerHand{
  transform: rotatey(180deg);
}
